@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", "Open Sans";
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
@media (max-width: 500px) {
  html {
    font-size: 35%;
  }
}

a {
  text-decoration: none;
}
@keyframes pulseText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url(https://images.pexels.com/photos/28080/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  background-size: cover;
  scroll-snap-align: center;
}
@media (max-width: 500px) {
  .landingPageContainer {
    background: url(https://images.unsplash.com/photo-1470468969717-61d5d54fd036?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=683&q=80) no-repeat center center;
    background-size: cover;
  }
}
.landingPageContainer .hamburgerMenu {
  width: auto;
  display: none;
  flex-direction: column;
  font-size: 1rem;
  position: absolute;
  top: 38px;
  left: 55px;
  text-align: left;
  line-height: 2;
  padding: 15px 25px;
  background-color: #323F58;
  opacity: 0.8;
  z-index: 2;
  position: fixed;
}
.landingPageContainer .hamburgerMenu a {
  color: #E1EBF6;
  text-decoration: none;
  font-size: 2rem;
}
.landingPageContainer .hamburgerMenu a:hover {
  animation-name: pulseText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.landingPageContainer .burgerBtn {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 20px;
  color: #323F58;
  background-color: transparent;
  font-size: 3rem;
}
@media (max-width: 1000px) {
  .landingPageContainer .burgerBtn {
    visibility: visible;
  }
}
@media (max-width: 500px) {
  .landingPageContainer .burgerBtn {
    font-size: 5.4rem;
  }
}
.landingPageContainer .burgerBtn:hover {
  color: #94a4c2;
}
.landingPageContainer .burgerBtn:active {
  color: #94a4c2;
}
.landingPageContainer .landingPageNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  padding-top: 35px;
  mix-blend-mode: hard-light;
}
@media (max-width: 1000px) {
  .landingPageContainer .landingPageNavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
  }
}
@media (max-width: 500px) {
  .landingPageContainer .landingPageNavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
  }
}
.landingPageContainer .landingPageNavBar .empty {
  width: 25%;
}
@media (max-width: 1000px) {
  .landingPageContainer .landingPageNavBar .empty {
    display: none;
  }
}
.landingPageContainer .landingPageNavBar .navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
}
@media (max-width: 1000px) {
  .landingPageContainer .landingPageNavBar .navigationBar {
    display: none;
  }
}
.landingPageContainer .landingPageNavBar .navigationBar a {
  font-size: 4.2rem;
  color: #323F58;
  font-weight: bold;
}
@media (max-width: 1300px) {
  .landingPageContainer .landingPageNavBar .navigationBar a {
    font-size: 3rem;
  }
}
.landingPageContainer .landingPageNavBar .navigationBar a:hover {
  animation-name: pulseText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.landingPageContainer .landingPageNavBar .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 25%;
}
.landingPageContainer .landingPageNavBar .logo img {
  margin: 0 auto;
  max-width: 85%;
  max-height: 85%;
  filter: drop-shadow(-3px 3px 10px rgba(253, 253, 253, 0.3));
}
.landingPageContainer .landingPageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
.landingPageContainer .landingPageContent .phone img {
  width: 225px;
  filter: drop-shadow(-60px 35px 40px rgba(0, 0, 0, 0.8));
}
@media (max-width: 500px) {
  .landingPageContainer .landingPageContent .phone img {
    display: none;
  }
}
.landingPageContainer .landingPageContent h1 {
  font-size: 4.7rem;
  color: #323F58;
  font-weight: bold;
  text-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 75%;
}
.landingPageContainer .landingPageContent .arrowButton img {
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.75));
  width: 100px;
  position: absolute;
  top: 83%;
  left: calc(50% - 50px);
}
.landingPageContainer .landingPageContent .arrowButton img:hover {
  animation-name: pulseText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@media (max-width: 500px) {
  .landingPageContainer .landingPageContent .arrowButton img {
    width: 80px;
    left: calc(50% - 40px);
  }
}
#productFillPage {
  width: 100vw;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80") no-repeat center center;
  background-size: cover;
  scroll-snap-align: center;
}
@media (max-width: 500px) {
  #productFillPage {
    background: url("https://images.pexels.com/photos/2149771/pexels-photo-2149771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
    background-size: cover;
  }
}
#productFillPage h2 {
  font-size: 5.2rem;
  color: #EFF4F8;
  font-weight: normal;
  position: absolute;
  text-shadow: -2px 2px 4px #000000;
}
#productFillPage h2:nth-child(1) {
  top: 110%;
  left: 35%;
}
#productFillPage h2:nth-child(2) {
  top: 140%;
  left: 5%;
}
#productFillPage h2:nth-child(3) {
  top: 173%;
  right: 5%;
}
#productFillPage .arrowButton img {
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.75));
  width: 100px;
  position: absolute;
  top: 183%;
  left: calc(50% - 50px);
}
#productFillPage .arrowButton img:hover {
  animation-name: pulseText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@media (max-width: 500px) {
  #productFillPage .arrowButton img {
    width: 80px;
    left: calc(50% - 40px);
  }
}
#productDescriptionPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("https://images.pexels.com/photos/38630/bodybuilder-weight-training-stress-38630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
  background-size: cover;
  scroll-snap-align: center;
  padding-bottom: 50px;
}
@media (max-width: 500px) {
  #productDescriptionPage {
    background: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80") no-repeat center center;
    background-size: cover;
  }
}
#productDescriptionPage .descriptionBox {
  background: rgba(196, 196, 196, 0.3);
  border: 10px solid #BFCBD7;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 0px 1px 4px #000000;
}
#productDescriptionPage .descriptionBox h2 {
  font-size: 5.6rem;
  color: #EFF4F8;
  font-weight: normal;
}
@media (max-width: 1000px) {
  #productDescriptionPage .descriptionBox h2 {
    font-size: 4.5rem;
  }
}
@media (max-width: 500px) {
  #productDescriptionPage .descriptionBox h2 {
    font-size: 4rem;
  }
}
#productDescriptionPage .descriptionBox p {
  font-size: 2.6rem;
  color: #EFF4F8;
  font-weight: normal;
  width: 80%;
}
@media (max-width: 1300px) {
  #productDescriptionPage .descriptionBox p {
    font-size: 2.3rem;
  }
}
@media (max-width: 1000px) {
  #productDescriptionPage .descriptionBox p {
    font-size: 1.7rem;
  }
}
@media (max-width: 500px) {
  #productDescriptionPage .descriptionBox p {
    font-size: 1.7rem;
  }
}
#productDescriptionPage .descriptionBox .signUpButton {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.8));
  font-size: 2.8rem;
  color: #EFF4F8;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #323F58;
  border-radius: 5px;
  width: 40%;
  height: 15%;
}
#productDescriptionPage .descriptionBox .signUpButton a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
#productDescriptionPage .descriptionBox .signUpButton a p {
  width: 100%;
}
#productDescriptionPage .descriptionBox .signUpButton:hover {
  background: #52678f;
}
#productDescriptionPage .descriptionBox .signUpButton:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
