html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  html {
    font-size: 35%;
  }
}
html,
body {
  font-family: "Roboto", "Open Sans";
}
#container {
  overflow: hidden;
}
#container .landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url(https://images.pexels.com/photos/28080/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 500px) {
  #container .landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1470468969717-61d5d54fd036?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=683&q=80) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#container .landingPageContainer .hamburger {
  padding: 35px;
  display: none;
}
#container .landingPageContainer .hamburger img {
  width: 60px;
}
@media (max-width: 500px) {
  #container .landingPageContainer .hamburger img {
    width: 45px;
  }
}
@media (max-width: 1000px) {
  #container .landingPageContainer .hamburger {
    display: block;
    position: fixed;
  }
}
#container .landingPageContainer .landingPageNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 35px;
  mix-blend-mode: hard-light;
}
@media (max-width: 1000px) {
  #container .landingPageContainer .landingPageNavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
  }
}
@media (max-width: 500px) {
  #container .landingPageContainer .landingPageNavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 20px;
  }
}
#container .landingPageContainer .landingPageNavBar .empty {
  width: 25%;
}
@media (max-width: 1000px) {
  #container .landingPageContainer .landingPageNavBar .empty {
    display: none;
  }
}
#container .landingPageContainer .landingPageNavBar .navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 50%;
}
@media (max-width: 1000px) {
  #container .landingPageContainer .landingPageNavBar .navigationBar {
    display: none;
  }
}
#container .landingPageContainer .landingPageNavBar .navigationBar a {
  font-size: 4.2rem;
  color: #323F58;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 1300px) {
  #container .landingPageContainer .landingPageNavBar .navigationBar a {
    font-size: 3rem;
  }
}
#container .landingPageContainer .landingPageNavBar .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 25%;
}
@media (max-width: 1000px) {
  #container .landingPageContainer .landingPageNavBar .logo {
    width: 50%;
  }
}
@media (max-width: 500px) {
  #container .landingPageContainer .landingPageNavBar .logo {
    width: 25%;
  }
}
#container .landingPageContainer .landingPageNavBar .logo figure {
  margin: 0 auto;
}
#container .landingPageContainer .landingPageNavBar .logo figure img {
  width: 100%;
  height: 100%;
}
#container .landingPageContainer .landingPageContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100% - 153px);
}
@media (max-width: 500px) {
  #container .landingPageContainer .landingPageContent {
    height: calc(100% - 110px);
  }
}
#container .landingPageContainer .landingPageContent .phone img {
  -webkit-filter: drop-shadow(-60px 35px 40px rgba(0, 0, 0, 0.8));
}
@media (max-width: 1000px) {
  #container .landingPageContainer .landingPageContent .phone img {
    width: 200px;
  }
}
@media (max-width: 500px) {
  #container .landingPageContainer .landingPageContent .phone img {
    display: none;
  }
}
#container .landingPageContainer .landingPageContent h1 {
  font-size: 5.2rem;
  color: #323F58;
  font-weight: bold;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1800px) {
  #container .landingPageContainer .landingPageContent h1 {
    padding-top: 50px;
  }
}
@media (max-width: 1300px) {
  #container .landingPageContainer .landingPageContent h1 {
    padding-top: 50px;
  }
}
@media (max-width: 1000px) {
  #container .landingPageContainer .landingPageContent h1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 500px) {
  #container .landingPageContainer .landingPageContent h1 {
    padding-top: 330px;
  }
}
#container .landingPageContainer .landingPageContent .arrowButton img {
  width: 100px;
  -webkit-filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.75));
}
@media (max-width: 1300px) {
  #container .landingPageContainer .landingPageContent .arrowButton img {
    width: 80px;
  }
}
#container .productDescriptionPage {
  width: 100vw;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  #container .productDescriptionPage {
    width: 100vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/2149771/pexels-photo-2149771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#container .productDescriptionPage h2 {
  font-size: 5.2rem;
  color: #EFF4F8;
  font-weight: normal;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.75);
  height: 25%;
}
#container .productDescriptionPage h2:nth-child(1) {
  padding: 100px 0 350px;
}
@media (max-width: 1000px) {
  #container .productDescriptionPage h2:nth-child(1) {
    padding: 100px 0 200px;
  }
}
@media (max-width: 500px) {
  #container .productDescriptionPage h2:nth-child(1) {
    padding: 75px 0 300px;
  }
}
#container .productDescriptionPage h2:nth-child(2) {
  padding-right: 950px;
}
@media (max-width: 1300px) {
  #container .productDescriptionPage h2:nth-child(2) {
    padding-right: 800px;
  }
}
@media (max-width: 1000px) {
  #container .productDescriptionPage h2:nth-child(2) {
    padding-right: 300px;
  }
}
@media (max-width: 500px) {
  #container .productDescriptionPage h2:nth-child(2) {
    padding-right: 150px;
  }
}
#container .productDescriptionPage h2:nth-child(3) {
  padding: 100px 0 0 550px;
}
@media (max-width: 1000px) {
  #container .productDescriptionPage h2:nth-child(3) {
    padding: 130px 0 0 320px;
  }
}
@media (max-width: 500px) {
  #container .productDescriptionPage h2:nth-child(3) {
    padding: 45px 0 15px 150px;
  }
}
#container .productDescriptionPage .arrowButton img {
  width: 100px;
  padding-bottom: 50px;
  -webkit-filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.75));
}
@media (max-width: 1300px) {
  #container .productDescriptionPage .arrowButton img {
    width: 80px;
  }
}
#container .signUpPage {
  width: 100vw;
  height: 100vh;
  background: url("https://images.pexels.com/photos/38630/bodybuilder-weight-training-stress-38630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
}
@media (max-width: 500px) {
  #container .signUpPage {
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
#container .signUpPage .signUpBox {
  background: rgba(196, 196, 196, 0.3);
  border: 10px solid #BFCBD7;
  box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#container .signUpPage .signUpBox h2 {
  font-size: 5.6rem;
  color: #EFF4F8;
  font-weight: normal;
}
#container .signUpPage .signUpBox .signUpTextBox {
  background: rgba(239, 244, 248, 0.1);
  border: 5px solid #BFCBD7;
  width: 70%;
  height: 15%;
  font-size: 3.2rem;
  color: #EFF4F8;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#container .signUpPage .signUpBox .signUpTextBox p {
  padding-left: 10px;
}
#container .signUpPage .signUpBox .signUpButton {
  background: #323F58;
  border: 3px solid #BFCBD7;
  border-radius: 5px;
  width: 40%;
  height: 15%;
  font-size: 2.8rem;
  color: #EFF4F8;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
