@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  html {
    font-size: 35%;
  }
}
html,
body {
  font-family: "Roboto", "Open Sans";
  overflow-x: hidden;
}
@keyframes pulseText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
header {
  width: 100%;
  background-color: #E1EBF6;
  position: fixed;
  top: 0px;
  right: "";
  bottom: "";
  left: 0px;
  z-index: 1;
}
@media (max-width: 1000px) {
  header {
    text-align: center;
    height: 10%;
    width: 100%;
  }
}
@media (max-width: 500px) {
  header {
    height: 7%;
  }
}
header .burgerBtn {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: "";
  bottom: "";
  left: 0px;
  margin: 5% 5%;
  color: #323F58;
  background-color: transparent;
  border: none;
}
@media (max-width: 1000px) {
  header .burgerBtn {
    visibility: visible;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  header .burgerBtn {
    font-size: 5rem;
  }
}
header .burgerBtn:hover {
  color: #94a4c2;
}
header .burgerBtn:active {
  color: #94a4c2;
}
header nav {
  width: 50%;
  margin: 2% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #323F58;
  font-size: 2.5rem;
}
header nav a:hover {
  animation-name: pulseText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@media (max-width: 1000px) {
  header nav a {
    display: none;
  }
}
.logoHeader {
  height: 80%;
  width: auto;
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: "";
  left: "";
}
@media (max-width: 1000px) {
  .logoHeader {
    height: 70%;
    position: absolute;
    top: "";
    right: "";
    bottom: "";
    left: 45%;
  }
}
@media (max-width: 500px) {
  .logoHeader {
    height: 80%;
    position: absolute;
    top: "";
    right: "";
    bottom: "";
    left: 33%;
  }
}
.hamburgerMenu {
  width: 25%;
  display: none;
  flex-direction: column;
  font-size: 1rem;
  position: absolute;
  top: 58px;
  right: "";
  bottom: "";
  left: 0px;
  text-align: left;
  line-height: 2;
  padding: 20px 25px;
  background-color: #E1EBF6;
  opacity: 0.8;
  z-index: 2;
  position: fixed;
}
@media (max-width: 1000px) {
  .hamburgerMenu {
    position: absolute;
    top: 100px;
    right: "";
    bottom: "";
    left: 0px;
  }
}
@media (max-width: 500px) {
  .hamburgerMenu {
    background-color: #323F58;
    position: absolute;
    top: 50px;
    right: "";
    bottom: "";
    left: 0px;
  }
}
.hamburgerMenu a {
  color: #323F58;
  text-decoration: none;
  font-size: 2rem;
}
.hamburgerMenu a:hover {
  animation-name: pulseText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@media (max-width: 500px) {
  .hamburgerMenu a {
    color: #E1EBF6;
  }
}
body {
  width: 100vw;
}
body .leftImg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.6);
  position: fixed;
}
@media (max-width: 500px) {
  body .leftImg {
    display: none;
  }
}
body main {
  padding: 12% 0 0%;
  height: 100vh;
  width: 75%;
  margin-left: 25%;
  text-align: center;
}
@media (max-width: 1000px) {
  body main {
    padding-top: 15%;
  }
}
@media (max-width: 500px) {
  body main {
    padding-top: 25%;
    width: 100%;
    margin: 0pc auto;
  }
}
body main h1 {
  color: #323F58;
  font-size: 5rem;
}
body main .portfolioImg,
body main .portfolioBio {
  position: absolute;
  top: "";
  right: "";
  bottom: "";
  left: "";
  display: flex;
  flex-direction: "";
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  height: 400px;
}
@media (max-width: 1000px) {
  body main .portfolioImg,
  body main .portfolioBio {
    width: 80%;
  }
}
@media (max-width: 500px) {
  body main .portfolioImg,
  body main .portfolioBio {
    width: 80%;
    margin: 0px 10%;
  }
}
body main .portfolioImg .profile,
body main .portfolioBio .profile {
  height: 100%;
  width: calc(40% - 100px);
  max-width: 500px;
  min-width: 400px;
}
@media (max-width: 1000px) {
  body main .portfolioImg .profile,
  body main .portfolioBio .profile {
    width: calc(30% - 100px);
  }
}
body main .portfolioImg .profile:hover,
body main .portfolioBio .profile:hover {
  filter: grayscale(100%);
}
body main .portfolioImg .profile:hover .overlay,
body main .portfolioBio .profile:hover .overlay {
  visibility: visible;
}
body main .portfolioImg .profile .overlay,
body main .portfolioBio .profile .overlay {
  height: 300px;
  width: 90%;
  max-width: 400px;
  background-color: #E1EBF6;
  border: 20px solid transparent;
  opacity: 0.7;
  padding: 6%;
  text-align: center;
  margin: 10% auto;
  visibility: hidden;
}
body main .portfolioImg .profile .overlay h3,
body main .portfolioBio .profile .overlay h3 {
  font-size: 2.8rem;
  margin: 5% 5% 0 5%;
}
@media (max-width: 500px) {
  body main .portfolioImg .profile .overlay h3,
  body main .portfolioBio .profile .overlay h3 {
    font-size: 5.5rem;
  }
}
body main .portfolioImg .profile .overlay h4,
body main .portfolioBio .profile .overlay h4 {
  font-size: 1.6rem;
  margin: 5%;
}
@media (max-width: 500px) {
  body main .portfolioImg .profile .overlay h4,
  body main .portfolioBio .profile .overlay h4 {
    font-size: 4rem;
  }
}
body main .portfolioImg .profile .overlay p,
body main .portfolioBio .profile .overlay p {
  line-height: 1.8;
  font-size: 1.3rem;
  text-align: left;
}
@media (max-width: 500px) {
  body main .portfolioImg .profile .overlay p,
  body main .portfolioBio .profile .overlay p {
    font-size: 3rem;
  }
}
body main .portfolioImg .profile .overlay .fa,
body main .portfolioBio .profile .overlay .fa {
  font-size: 3rem;
  margin: 2% 10%;
  color: #323F58;
}
body main .portfolioImg .profile .overlay .fa:hover,
body main .portfolioBio .profile .overlay .fa:hover {
  animation-name: pulseText;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@media (max-width: 500px) {
  body main .portfolioImg .profile .overlay .fa,
  body main .portfolioBio .profile .overlay .fa {
    font-size: 6rem;
  }
}
body main .portfolioImg .profile .profileImg,
body main .portfolioBio .profile .profileImg {
  height: 80%;
  width: 90%;
  max-height: 300px;
  max-width: 400px;
  border: 20px solid #323F58;
  margin: 10% auto;
  object-fit: cover;
}
