.flexBox(@direction, @justify, @align) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.font(@size, @color, @weight) {
    font-size: @size;
    color: @color;
    font-weight: @weight;
}

.animation (@name, @duration, @iteration) {
    animation-name: @name;
    animation-duration: @duration;
    animation-iteration-count: @iteration;
}