.flexBox(@direction, @justify, @align) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.animation (@name, @duration, @iteration) {
    animation-name: @name;
    animation-duration: @duration;
    animation-iteration-count: @iteration;
}


.position(@position, @top, @right, @bottom, @left) {
    position: @position;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}
