//Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Variables


// Devices
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 1000px)";
@smallDesktop: ~"(max-width: 1300px)";


// Color pointers


// Color Vars
@primaryColor: #323F58;
@secondaryColor: #EFF4F8;
@grayBorder: #BFCBD7;
@lightGrey: #E1EBF6;


// Mobile var